.marquee-content {
    animation: marquee 40s linear infinite;
    white-space: nowrap;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  